<section class="product-tabs-video-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-navs-col">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-description" type="button" role="tab"
                                aria-controls="pills-description" aria-selected="true">Description</button>
                        </li>
                      {% if product.metafields.custom.features != blank %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-features-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-features" type="button" role="tab" aria-controls="pills-features"
                                aria-selected="false">Features</button>
                        </li>
                      {% endif %}
                      {% if product.metafields.custom.specs_list != blank %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-speecs-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-speecs" type="button" role="tab" aria-controls="pills-speecs"
                                aria-selected="false">Specs</button>
                        </li>
                      {% endif %}
                      {% if pages.product-faqs.content != blank %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-faq-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-faq" type="button" role="tab" aria-controls="pills-faq"
                                aria-selected="false">FAQ</button>
                        </li>
                      {% endif %}
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                            aria-labelledby="pills-description-tab" tabindex="0">
                                {{ product.description }}                          
                        </div>
                        {% if product.metafields.custom.features != blank %}
                        <div class="tab-pane fade" id="pills-features" role="tabpanel"
                            aria-labelledby="pills-features-tab" tabindex="0">
                          {{ product.metafields.custom.features }}
                        </div>
                      {% endif %}
                        {% if product.metafields.custom.specs_description != blank and product.metafields.custom.specs_list != blank %}
                        <div class="tab-pane fade" id="pills-speecs" role="tabpanel" aria-labelledby="pills-speecs-tab"
                            tabindex="0">
                            {{ product.metafields.custom.specs_description }}
                          {% if product.metafields.custom.specs_list != blank %}
                            <ul class="speecs-list">
                              {% for val in product.metafields.custom.specs_list.value %}
                                <li> {{ val }} </li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                        </div> 
                      {% endif %}
                      {% if pages.product-faqs.content != blank %}
                        <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab"
                            tabindex="0">
                            <div class="product-faqs">
                                {{ pages.product-faqs.content }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              {% if product.metafields.custom.tabs_image != blank %}
                <div class="product-detail-video" loading="lazy" style="background-image: url('{{ product.metafields.custom.tabs_image | img_url : 'master' }}');">
                    <a href="#"><img src="{{ 'video-icon.png' | asset_img_url : 'master' }}" alt="video-icon"></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Description Tabs",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}