<section class="about-us self-sustained-main shop-in-light-in product-detail-shop-rows">
    <div class="container">
        {% assign products = all_products[product.metafields.custom.featured_products.value] %}
        {% for product in products %}
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="{{ product.featured_image | img_url : "master" }}" alt="{{ product.title }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-col">
                    <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>

                    <p> {{ product.description | split : '.' | first }} </p>

                </div>
            </div>
        </div>
      {% endfor %}
    </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}